# --- Web ---
flask
flask-sqlalchemy
flask-login
flask-migrate
werkzeug
gunicorn
psycopg2-binary

# --- IA Facial ---
opencv-python
deepface
tensorflow
tf-keras

# --- NLP ---
transformers
torch
nltk
spacy

# --- Utilidades ---
qrcode[pil]
pillow
pandas
numpy
scikit-learn

# --- Streamlit ---
streamlit
