# --- Web ---
flask
flask-sqlalchemy
flask-login
flask-migrate
werkzeug
gunicorn
psycopg2-binary==2.9.6

# --- IA Facial ---
opencv-python
deepface==0.0.92
tensorflow==2.14.0
tf-keras==2.14.0

# --- NLP ---
transformers
torch
nltk
spacy

# --- Utilidades ---
qrcode[pil]
pillow
pandas
numpy
scikit-learn

# --- Streamlit ---
streamlit
